<div id="consultausuarioips" class="white newdesing position-relative">
	<style>
		.newdesing input[type="date"]::-webkit-inner-spin-button,
		.newdesing input[type="date"]::-webkit-calendar-picker-indicator,
		.newdesing input[type="month"]::-webkit-inner-spin-button,
		.newdesing input[type="month"]::-webkit-calendar-picker-indicator {
			/* display: none; */
			-webkit-appearance: none;
		}

		input[type=number]::-webkit-inner-spin-button,
		input[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		.overflow-auto {
			overflow: auto;
			height: calc(100vh - 212px);
		}
	</style>
	<div class="row section-header margin">
		<ul class="left mailbox-custom-search list-inline w-100 d-flex justify-content-between align-items-center">
			<li id="inicio">
				<h5
					style="font-family: 'Product Sans',Arial,sans-serif;font-size: 22px;line-height: 22px;opacity: .54;margin: 9px 0">
					Consulta Usuario IPS</h5>
			</li>
			<li>
				<form class="form-input-icon-new input-out-new" method="post" ng-submit="buscar_usuario_ips(NIT_IPS)"
					autocomplete="off">
					<input ng-model="NIT_IPS" type="number" class="margin border-none" placeholder="NIT IPS">
					<i ng-click="buscar_usuario_ips(NIT_IPS)" class="icon-search"></i>
				</form>
			</li>
		</ul>
	</div>
	<div class="row dashboard-wrapper content-container white" style="padding-bottom: 20px;margin-bottom: 0;">
		<div ng-if="consulta_usuario_ips.usuarios_ips.length>0" class="col s12 m12 l12 position-relative">
			<div class="align-items-center black-text d-flex justify-content-between title-panel m-b">
				<span>Resultado de la búsqueda ({{consulta_usuario_ips.usuarios_ips.length}}):</span>
				<input ng-model="q" type="text" class="margin border-none white input-text-new input-out-new"
					placeholder="Buscar en la tabla">
				<!-- <i ng-click="medicamentos.vista=2" class="icon-left-open-2 cursor-pointer default-color">Atras</i> -->
			</div>
			<div class="position-relative overflow-auto">
				<table class="striped table-bordered white">
					<thead>
						<tr class="default-background white-text">
							<th colspan="6">
								NOMBRE IPS: {{consulta_usuario_ips.nombre}}
							</th>
							<th colspan="2" class="center-align">
								NIT: {{consulta_usuario_ips.nit}}
							</th>
						</tr>
						<tr class="default-background white-text">
							<th class=" center-align">
								#{{(consulta_usuario_ips.usuarios_ips.length==0)?'':consulta_usuario_ips.usuarios_ips.length}}
							</th>
							<!--<th class="center-align">
								NIT
							</th>
							<th>
								NOMBRE IPS
							</th> -->
							<th>
								NOMBRE USUARIO
							</th>
							<th class="center-align">
								USUARIO
							</th>
							<th class="center-align">
								CLAVE
							</th>
							<th class="center-align">
								CONTACTO
							</th>
							<th class="center-align">
								CORREO
							</th>
							<th class="center-align">
								TIPO USUARIO
							</th>
							<th class="center-align">
								ESTADO
							</th>
							<th class="center-align">
								CODIGO VERIFICACION
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="consulta_usuario_ips.usuarios_ips.length == 0">
							<td colspan="8" class="center-align">
								No hay datos para mostrar
							</td>
						</tr>
						<tr ng-repeat="usuario in consulta_usuario_ips.usuarios_ips | filter:q | orderBy:'NOMBRE_USUARIO'">
							<td class="center-align">{{$index+1}}</td>
							<!-- <td class="center-align">{{usuario.NIT}}</td>
							<td>{{usuario.NOMBRE_IPS}}</td> -->
							<td>
								{{usuario.NOMBRE_USUARIO}}
							</td>
							<td class="center-align">
								{{usuario.USUARIO}}
							</td>
							<td class="center-align">
								{{usuario.CLAVE}}
							</td>
							<td class="center-align">
								{{usuario.CONTACTO}}
							</td>
							<th class="center-align">
								{{usuario.CORREO}}
							</th>
							<td class="center-align">
								{{usuario.TIPO_USUARIO}}
							</td>
							<td class="center-align black-text"
								ng-class="{'yellow':usuario.ESTADO=='X','green':usuario.ESTADO=='A','red':usuario.ESTADO=='I'}">
								<b>{{usuario.ESTADO}}</b>
							</td>
							<td class="center-align">
								{{usuario.CODIGO_VERIFICACION}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div ng-if="consulta_usuario_ips.usuarios_ips.length==0" class="align-items col s12 m12 l12 position-relative">
			<img src="assets/images/elip/buscar.svg" class="w-50" alt="Buscar">
		</div>
	</div>
</div>