<div id="inicio">
    <style>
        .leniotext {
            fill: white;
            font-family: "Roboto Mono", monospace;
            font-size: 41px;
        }

        .cursor-type {
            fill: #052733;
            -webkit-animation: type 0.5s step-end infinite alternate, moveRight 2s steps(4) alternate forwards;
            animation: type 0.5s step-end infinite alternate, moveRight 2s steps(4) alternate forwards;
        }

        @keyframes type {
            50% {
                opacity: 0;
            }
        }

        .happy {
            fill: white;
            font-size: 90px;
            font-family: "Source Sans Pro", sans-serif;
            stroke: #fff;
            stroke-linecap: butt;
            stroke-width: 2;
            stroke-dasharray: 1 8 7 50;
            stroke-dashoffset: 200;
            -webkit-animation: borderanimation 4s linear infinite alternate;
            animation: borderanimation 4s linear infinite alternate, shakeup -1s 0.34s alternate infinite;
        }

        .year {
            -webkit-animation: shake 0.34s alternate infinite;
            animation: shake 0.34s alternate infinite;
        }

        .yearbg {
            stroke-linecap: butt;
            stroke-width: 6;
            stroke-dasharray: 10 40 70 50;
            stroke-dashoffset: 600;
            -webkit-animation: borderanimation 1.8s linear infinite alternate;
            animation: borderanimation 1.8s linear infinite alternate;
        }

        .yearborder {
            stroke-linecap: butt;
            stroke-width: 4;
            stroke-dasharray: 1 10 7 5;
            stroke-dashoffset: 400;
            -webkit-animation: borderanimation 0.5s linear infinite alternate;
            animation: borderanimation 0.5s linear infinite alternate;
        }

        @keyframes borderanimation {
            to {
                stroke-dashoffset: 0;
            }
        }

        .container {
            display: flex;
            justify-content: center;
            vertical-align: middle;
            margin: 0 auto;
            max-width: 400px;
            position: relative;
            margin-left: 0;
        }

        .confeti #amarillo {
            -webkit-animation: move 4s linear infinite;
            animation: move 4s linear infinite;
        }

        .confeti #azul {
            -webkit-animation: move -1s 4s linear infinite;
            animation: move -1s 4s linear infinite;
        }

        .confeti #verde {
            -webkit-animation: move -2s 4s linear infinite;
            animation: move -2s 4s linear infinite;
        }

        .confeti #rojo {
            -webkit-animation: move -3s 4s linear infinite;
            animation: move -3s 4s linear infinite;
        }

        .confeti #amarillo2 {
            -webkit-animation: move -4s 2s linear infinite;
            animation: move -4s 2s linear infinite;
        }

        .confeti #azul2 {
            -webkit-animation: move -2.5s 3s linear infinite;
            animation: move -2.5s 3s linear infinite;
        }

        .confeti #verde2 {
            -webkit-animation: move -1.5s 3.5s linear infinite;
            animation: move -1.5s 3.5s linear infinite;
        }

        .confeti #rojo2 {
            -webkit-animation: move 2s linear infinite;
            animation: move 2s linear infinite;
        }

        .confeti #verde3 {
            -webkit-animation: move -5s 4s linear infinite;
            animation: move -5s 4s linear infinite;
        }

        .confeti #rojo3 {
            -webkit-animation: move -3s 4s linear infinite;
            animation: move -3s 4s linear infinite;
        }

        .confi {
            transform: translate(-200px, -200px);
        }

        .confi2 {
            transform: translate(-500px, -100px);
        }

        .confi3 {
            transform: translate(150px, -300px);
        }

        @keyframes move {
            to {
                transform: translateY(1000px);
            }
        }

        .play-music {
            border: 1px solid #46cdcf;
            border-radius: 4px;
            color: #fffa96;
            cursor: pointer;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 18px;
            padding: 5px;
            position: absolute;
            bottom: 35px;
            left: 25px;
            min-width: 85px;
            text-align: center;
        }

        .play-music:hover {
            color: #46cdcf;
        }

        @keyframes shake {
            from {
                transform: translateX(-10px);
            }

            to {
                transform: translateX(10px);
            }
        }

        @keyframes shakeup {
            from {
                transform: translateY(-10px);
            }

            to {
                transform: translateY(10px);
            }
        }

        /* 2019 */
        .col.s12.m6.l6.rotacion:before {
            height: 100%;
            background-color: inherit;
            width: calc(100% + 50vw);
            display: block;
            content: "";
            position: absolute;
            top: 0;
            z-index: 0;
            transform: skewX(10deg);
            left: calc(-100%);
        }

        main#content {
            padding-bottom: 0 !important;
        }

        .gallery-carousel .carousel-item-gallery {
            margin-top: -101px;
            /* background: #737373; */
        }

        .gallery-carousel .carousel-item-gallery:hover>i {
            display: block !important;
        }

        .gallery-carousel .carousel-item-gallery>i {
            display: none;
            position: absolute;
            top: 5%;
            left: calc(50% - 14px);
            color: #ffffff;
            background-color: #4caf50;
            border-radius: 50%;
            padding: 3px;
            cursor: pointer;
        }

        .row.margin>.col.s12.m6.l6 {
            padding: 0 4em;
        }

        /* Slider */
        #inicio .slider {
            width: 100%;
            background: #f8f8f8;
            opacity: 1 !important;
            height: 100% !important;
        }

        .slider .slides li img:not(.img-clear) {
            opacity: 0.9;
            filter: brightness(50%);
        }

        @keyframes EfectMove {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.2);
            }

            100% {
                transform: scale(1);
            }
        }

        /*  .slider .slides li img {
      animation: EfectMove 20s ease infinite;
    } */

        .card-slide {
            padding-left: 24px;
            padding-right: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 364px;
            height: 340px;
            /* margin-left: auto; */
        }

        .slider .slides li .caption {
            display: flex;
            justify-content: space-between;
        }

        #inicio .slider .slides {
            height: 500px !important;
        }

        #inicio .slider .indicators {
            bottom: 5px;
            z-index: 10;
        }

        #inicio #slider_mara>.col>h5 {
            margin-top: 60px;
            font-weight: 600;
        }

        #inicio .change>div>h3 {
            margin-top: 2em;
            margin-right: 6em;
        }

        #inicio .change>div>div {
            text-align: right;
            position: absolute;
            padding: 0 15px;
            display: flex;
            align-items: center;
        }

        #inicio .change>div>.default-background {
            top: 8%;
            right: 17%;
        }

        #inicio .change>div>.black-text {
            top: -19%;
            right: -3%;
            background-color: #f1f1f1;
        }

        #inicio .change>div>div>i {
            font-size: 2em;
        }

        /* Carousel */
        #inicio .gallery-carousel {
            height: 100vh;
            perspective: 50vw;
        }

        #inicio .carousel-item-gallery>h6 {
            color: white;
        }

        /* Cumpleaños */
        #inicio .card-image {
            padding: 1em;
        }

        #inicio section.col.offset-s1.s10 ul.collection i.icon-user-times {
            display: flex;
            justify-content: center;
            padding: 3em;
        }

        #inicio section.col.offset-s1.s10 ul.collection li.collection-item+i.icon-user-times {
            display: none;
        }

        #inicio section.col.offset-s1.s10 {
            margin-top: 4em;
            margin-bottom: 4em;
        }

        #inicio .collection>.collection-item:last-child {
            border: 0 !important;
        }

        #inicio section.col.offset-s1.s10 .collection .collection-item {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #inicio section.col.offset-s1.s10>h5 {
            margin-bottom: 30px;
            font-weight: 600;
        }

        #inicio .collection>.collection-item>i {
            margin-left: auto;
        }


        .contador {
            top: 48% !important;
            left: 28% !important;
        }

        .contador>div {
            width: 350px;
            height: 60px;
            padding: 0 !important;
            flex-direction: row;
            font-family: sans-serif;
        }

        .cuadro {
            border: 2px solid white;
            border-radius: 15px;
            height: 60px;
            width: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cuadro>small {
            bottom: -20px;
            font-weight: bold;
        }

        .numeros {
            font-size: 30px;
            font-weight: bold;
        }

        .puntos {
            height: 50%;
            width: 10px;
            position: relative;
        }

        .puntos:before {
            content: "";
            height: 10px;
            width: 10px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .puntos:after {
            content: "";
            height: 10px;
            width: 10px;
            background-color: white;
            border-radius: 50%;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        /* #Dias {}

    #Horas {}

    #Minutos {}

    #Segundos {} */
        #modalpopUp {
            max-height: 100% !important;
            border-radius: 0 !important;
            background-color: transparent !important;
            width: 800px !important;
        }

        #modalpopUp>div {
            display: flex;
            padding: 0;
            width: 800px !important;
        }
    </style>
    <!-- <div id="modalpopUp" class="modal">
        <div class="modal-content" style="background: white;">
          <div class="row" style="margin-bottom: 0px;">
            <div class="col-s12">
                <embed src="dist/images/sofiaper.mp4" frameborder="0" autoplay width="800" height="600"></embed>
                <a href="https://play.google.com/store/apps/details?id=com.cajacopieps.app" target="_blank"><img src="assets/images/app-cajacopi-eps.png"></a>
                <video src="dist/images/sofiaper.mp4" type="video/mp4" autoplay nocontrols preload="auto" loop width="800" height="600" ></video>
            </div>
          </div>
        </div>
    </div> -->
    <div class="row margin">
        <div class="slider border-radius-none">
            <ul class="slides">
                <!-- <li>
          <img class="img-clear" src="images/slider/BANNER-GENESIS-SOFI-CONTEO.png" />
          <div class="contador caption left-align">
            <div class="d-flex justify-content-between align-items-center white-text card-slide left-align"> -->
                <!-- Dias -->
                <!-- <div class="cuadro position-relative">
                <div id="Dias_num" class="numeros">0</div>
                <small class="position-absolute">Días</small>
              </div> -->
                <!-- <div class="puntos"></div> -->
                <!-- Horas -->
                <!-- <div class="cuadro position-relative">
                <div id="Horas_num" class="numeros">0</div>
                <small class="position-absolute">Horas</small>
              </div>
              <div class="puntos"></div> -->
                <!-- Minutos -->
                <!-- <div class="cuadro position-relative">
                <div id="Minutos_num" class="numeros">0</div>
                <small class="position-absolute">Minutos</small>
              </div>
              <div class="puntos"></div> -->
                <!-- Segundos -->
                <!-- <div class="cuadro position-relative">
                <div id="Segundos_num" class="numeros">0</div>
                <small class="position-absolute">Segundos</small>
              </div>
            </div>
          </div>
        </li> -->
                <li
                    style="background-image: url(images/slider/collage-min.jpg); background-size: cover; background-position: center center;">
                    <!-- <iframe src="https://e.infogram.com/3a4c9dd3-fbb8-4f59-8d82-eb1edc01604b?src=embed" style="border: 0;
    height: 100%;
    width: 100%; background-color: white;"></iframe> -->
                </li>
                <li
                    style="background-image: url(images/slider/BANNER-GENESIS-SOFI.jpg); background-size: cover; background-position: center center;">
                </li>
                <!-- <li> <img src="images/slider/digitalizacion.png" /> <div class="caption left-align" style="top: 14%;"> <div class="white black-text card-slide left-align" style="padding: 1em 24px;width: 400px;"> <div> <strong style="background-color: #ffd800;color: #000;font-size: 13px;font-weight: 400;padding: 0 7px;">MUY PRONTO</strong> </div> <h5 style="font-size: 20px;font-weight: 600;">Digitalización</h5> <p></p> <div>- Carga tus soportes de manera rápida y automática, podrás escoger las paginas al momento de guardar tus documentos digitalizados.</div> <p></p> <div>- Con nuestra nueva herramienta de Genesis , podrás agilizar el cargue de tus soportes a la red. </div> </div> </div> </li> -->
                <li
                    style="background-image: url(images/slider/SOFIGNEESISI.png); background-size: cover; background-position: center center;">
                </li>
                <li
                    style="background-image: url(images/slider/slider1.png); background-size: cover; background-position: center center;">
                </li>
                <li
                    style="background-image: url(images/slider/slider2.png); background-size: cover; background-position: center center;">
                </li>
                <li
                    style="background-image: url(images/slider/slider3.png); background-size: cover; background-position: center center;">
                </li>
                <li
                    style="background-image: url(images/slider/slider4.png); background-size: cover; background-position: center center;">
                </li>
                <li
                    style="background-image: url(images/slider/slider5.png); background-size: cover; background-position: center center;">
                </li>
                <!-- <li> <img class="img-clear" src="images/slider/photo.jpg" style="background-position-y: -140px;"> <div class="caption left-align" style="top: 70%;"> <div class="default-color left-align white" style="padding: 0 1.5em;"> <h5>II Encuentro de Directores EPS – Direccionamiento Estratégico</h5> </div> </div> </li> -->
                <!-- <li> <img src="images/slider/Digitalizacion.png" /> <div class="caption right-align" style="top: 14%;"> <div class="white black-text card-slide left-align" style="margin-left: auto;padding: 1em 24px;width: 400px;"> <div> <strong style="background-color: #ffd800;color: #000;font-size: 13px;font-weight: 400;padding: 0 7px;">MUY PRONTO</strong> </div> <h5 style="font-size: 20px;font-weight: 600;">Digitalización</h5> <p></p> <div>- En Genesis encontraras una nueva extensión!</div> <p></p> <div>- Ahora tendrás una nueva herramienta que te ayudara de manera rápida a digitalizar tus soportes. </div> </div> </div> </li> -->
                <!-- <li> <img class="img-clear" src="images/slider/colmena.png" style="background-position-y: -140px;"> <div class="caption left-align" style="top: 31%;"> <div class="white black-text card-slide left-align" style="height: 135px;width: auto;"> <div> <strong style="background-color: #ffd800;color: #000;font-size: 13px;font-weight: 400;padding: 0 7px;">NUEVO</strong> </div> <h5 style="font-size: 20px;font-weight: 600;position: relative;">¿Sabes que es Colmena? ¡Es tu nuevo calendario institucional, ahora podrás estar al día con la normatividad y los reportes de nuestra EPS! <img id="bee" class="beefly img-clear" src="assets/cursor/abeja.gif" style=" width: auto; background-image: url(assets/cursor/abeja.png); background-size: 100%; background-repeat: no-repeat; animation: bounceOutUp 5s ease infinite; position: absolute; top: -40px; left: 88%;"> </div> </div> </li> -->
                <!-- <li> <img src="images/slider/StockSnap_VKOGK8IWOW.jpg" /> <div class="caption right-align" style="top: 14%;"> <div class="white black-text card-slide left-align" style="margin-left: auto;"> <div> <strong style="background-color: #ffd800;color: #000;font-size: 13px;font-weight: 400;padding: 0 7px;">NUEVO</strong> </div> <h5 style="font-size: 20px;font-weight: 600;">La Intranet se esta trasladando a Genesis</h5> <p></p> <div>Podrás ver el nuevo diseño del mapa de procesos renovado, amigable e interactivo para todos los funcionarios de la EPS. </div> <p></p> <a href="#/Procesos" target="_blank"> <span>Ver mapa de procesos aquí</span> </a> </div> </div> </li> -->
                <!-- <li> <img src="images/slider/StockSnap_RFRZRPQQAI.jpg" /> <div class="caption left-align" style="top: 14%;"> <div class="white black-text card-slide"> <div> <strong style="background-color: #ffd800;color: #000;font-size: 13px;font-weight: 400;padding: 0 7px;">NUEVO</strong> </div> <h5 style="font-size: 20px;font-weight: 600;">Renovación de la pagina WEB</h5> <p></p> <div>Estará disponible desde el día 21/12/2018. </div> <p></p> <a href="https://www.cajacopieps.com/" target="_blank"> <span>Ver la pagina aquí</span> </a> </div> </div> </li> -->
                <!-- <li> <img src="images/slider/StockSnap_OT5KLOXRRA.jpg" /> <div class="caption right-align" style="top: 14%;"> <div class="white black-text card-slide left-align" style="margin-left: auto;"> <div> <strong style="background-color: #55c5de;color: #fff;font-size: 13px;font-weight: 400;padding: 0 7px;">APRENDE</strong> </div> <h5 style="font-size: 20px;font-weight: 600;">Sabes donde se encuentran los instructivos de Genesis?</h5> <p></p> <div> Nosotros te enseñamos en solo 2 pasos:<br><br> <span> 1 - Clic en tu nombre de usuario para ver el menu de opciones. <br> 2 - Clic en Instructivos. </span> <br><br> Navega sobre los macroprocesos para encontrar el instructivo que necesitas. </div> </div> </div> </li> -->
                <!-- <li> <img src="images/slider/StockSnap_P8033EGKSI.jpg" style="background-position-y: 60%;" /> <div class="caption left-align" style="top: 14%;"> <div class="white black-text card-slide left-align"> <div> <strong style="background-color: #55c5de;color: #fff;font-size: 13px;font-weight: 400;padding: 0 7px;">APRENDE</strong> </div> <h5 style="font-size: 20px;font-weight: 600;">Sabes donde cambiar tu contraseña y foto de perfil de Genesis?</h5> <p></p> <div> Nosotros te enseñamos en solo 2 pasos:<br><br> <span> 1 - Clic en tu nombre de usuario para ver el menu de opciones. <br> 2 - Clic en Configurar cuenta. </span> </div> </div> </div> </li >-->
            </ul>
        </div>
    </div>
    <div style="
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  z-index: 100;
  align-items: center;
  justify-content: center;
" ng-show="mostrarEncuesta">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSfsgnzF-LiTbWDa4KfaL6Jlomgfcido7zBPwIf1MfBz3DLp_g/viewform?embedded=true"
            width="640" height="800" frameborder="0" marginheight="0" marginwidth="0" style="
  background-color: white;
">Cargando…</iframe><button class="btn" ng-click="finalizarEncuesta()">Finalizar encuesta</button>
    </div>
    <div class="row margin" style="background-color: white">
        <section class="col offset-s1 s10">
            <h5 class="center-align">Feliz Cumpleaños!</h5>
            <div class="col s12 m4 no-padding">
                <div class="card col s12 no-padding">
                    <div class="card-image grey lighten-4">
                        <div class="price center-align medium"><b>Ayer</b></div>
                    </div>
                    <div class="card-content no-padding">
                        <ul class="collection border-none no-margin light">
                            <li class="collection-item activ" ng-class="{'border-none': $last}"
                                ng-repeat="bd_ayer in result_bd.ayer">
                                {{bd_ayer.nombre}}</li>
                            <i class="icon-user-times"></i>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 no-padding">
                <div class="card col s12 no-padding">
                    <div class="card-image card-header default-background">
                        <div class="price center-align white-text"><b>Hoy</b></div>
                    </div>
                    <div class="card-content no-padding">
                        <ul class="collection border-none no-margin light">
                            <li class="collection-item activ" ng-class="{'border-none': $last}"
                                ng-repeat="bd_hoy in result_bd.hoy">
                                {{bd_hoy.nombre}}<i class="icon-birthday green-text"></i></li>
                            <i class="icon-user-times"></i>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 no-padding">
                <div class="card col s12 no-padding">
                    <div class="card-image grey lighten-4">
                        <div class="price center-align"><b>Mañana</b></div>
                    </div>
                    <div class="card-content no-padding">
                        <ul class="collection border-none no-margin light">
                            <li class="collection-item activ" ng-class="{'border-none': $last}"
                                ng-repeat="bd_manana in result_bd.manana">{{bd_manana.nombre}}</li>
                            <i class="icon-user-times"></i>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="slider_mara" class="row margin">
        <div class="col s12 m12 l12 no-padding">
            <h5 class="center-align">Las últimas características y actualizaciones de Genesis</h5>
            <div class="gallery-carousel"> <a class="carousel-item-gallery default-background" ng-repeat="new in now">
                    <img
                        ng-src="{{new.img_url == null?'assets/images/fotologin.jpg': new.img_url != ''?new.img_url:'assets/images/fotologin.jpg'}}">
                    <i class="icon-info" ng-click="see_notification(new.id)"></i>
                    <!-- <h6 class="center-align">{{new.title}}</h6> --> </a> </div>
        </div>
    </div>
    <!-- <div class="row margin collection border-none profile-collection"
        style="background-color: white;height: 40vh;display: flex;justify-content: center;align-items: center;">
        <div class="col s12 m6 l6">
            <div class="collection-item transparent avatar">
                <div class="foot4 circle" style="top: 0;">
                    <div style="margin-left: -14px; color: #ffffff; font-size: 50px; padding-top: 5px;">
                        {{result_perfil.profile_img}}</div>
                </div>
                <div>
                    <span class="title fs-24 text-bold">{{result_perfil.nombre}}</span>
                    <p>{{result_perfil.cargo}}
                        <br>
                    </p>
                    <p class="grey-text">
                        <i class="material-icons tiny ">location_on</i>
                        <span> {{result_perfil.ubicacion}}</span>
                    </p>
                    <p class="grey-text">
                        <i class="material-icons tiny ">perm_contact_calendar</i> {{result_perfil.f_nacimiento}}</p>
                        <p class="grey-text">
                        <i class="material-icons tiny ">location_on</i>
                        <span>Ubicación Laboral: {{result_perfil.ubicacion_acceso}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="collection-item transparent avatar">
                <div class="circle" style="top: 0;">
                    <img src="assets/images/encuestanuevo.png">
                </div>
                <div>
                    <span class="title fs-24 text-bold">Ayúdanos a que tengas una experiencia inigualable</span>
                    <p class="grey-text">
                        <i class="material-icons tiny ">perm_contact_calendar</i>
                        <a href="https://goo.gl/forms/1G0XgEWP3R6IA1602" target="_blank"> Ver encuesta</a>
                    </p>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="row margin" style="background-color: #f8f8f8">
        <div class="col default-background l6 m6 rotacion s12"
            style="height: 35vh;display: flex;justify-content: center;align-items: center;position: relative;">
            <p class="white-text" style="font-size: 1.25rem;font-weight: 400;z-index: 10;">Visión: Seremos en el 2025 un referente en el aseguramiento en salud, con mejora continua de los procesos y tecnología, para contribuir en la calidad del servicio de nuestros afiliados.</p>
        </div>
        <div class="col s12 m6 l6" style="height: 35vh;display: flex;justify-content: flex-end;align-items: center;">
            <img style="width: 15em;" src="assets/images/cajacopi.png" alt="cajacopi"> </div>
    </div> -->


    <div class="white" style="height: 30vh; overflow: hidden;">
        <div class="row" style="position: absolute;padding-top: 8vh;">
            <div class="col s6 m6 l6 center" style="line-height: 1.3;padding-top: 6vh;">
                <div class="col s12 m12 l12 center foot_p" style="display: flex;">
                    <p class="white-text"
                        style="font-size: 1.25rem;font-weight: 400;z-index: 10; border-top-left-radius: 26%;">Visión:
                        Seremos en el 2025 un
                        referente en el aseguramiento en salud, con mejora continua de los procesos y tecnología, para
                        contribuir en la calidad del servicio de nuestros afiliados.</p>
                    <p class="white-text" style="font-size: 1.25rem;font-weight: 400;z-index: 10; border-top-left-radius: 26%;position: absolute;
                    width: 50%;">Misión:
                        Contribuir en la generación de bienestar social de nuestros afiliados, con un modelo de
                        aseguramiento basado en la gestión de riesgo en salud, con criterios de calidad, sentido
                        humano,
                        enfoque preventivo e incluyente, generando confianza y eficiencia.
                    </p>
                </div>
            </div>
            <div class="col s6 m6 l6 center" style="height: 20vh;">
                <img style="width: 15em;" src="assets/images/cajacopi.png" alt="cajacopi">
            </div>
        </div>

        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #011344;">
            </path>
        </svg>
    </div>

    <!-- Modal -->
    <style>
        .foot_p>p {
            opacity: 0;
            transition-duration: 2s;
        }

        .foot_p>p.active {
            opacity: 1 !important;
        }

        #inicio {
            background-color: white;
        }

        #inicio .gallery-carousel {
            height: 85vh;
            perspective: 50vw;
        }

        .modal-mara-new.modal {
            width: 90%;
            max-height: 90%;
            top: 5% !important;
            height: auto;
        }

        .modal-mara-new.modal.tipo-modal-2 {
            width: 60%;
        }

        .modal-mara-new.modal>.modal-header,
        .modal-mara-new.modal>.modal-content,
        .modal-mara-new.modal>.modal-footer {
            padding: 10px 20px;
        }

        .modal-mara-new.modal>.modal-header>.icon-cancel {
            background-color: transparent;
            height: 30px;
            width: 30px;
            text-align: center;
            border-radius: 50%;
        }

        .modal-mara-new.modal>.modal-header>.icon-cancel:hover {
            background-color: #33333375;
        }
    </style>
    <!-- <div id="modal-quiz" class="modal modal-mara-new tipo-modal-{{modal.tipo}}">
        <div class="modal-header d-flex justify-content-between align-items-center white-text {{modal.class}}">
            <h5 class="margin">{{modal.titulo}}</h5>
            <i
                class="modal-close align-items-center cursor-pointer d-flex icon-cancel justify-content-center position-relative"></i>
        </div>
        <div class="modal-content row margin">
            <div ng-if="modal.vista == 1" class="col s12 m-b">
                <div class="col s12 m-b no-padding center-align"
                    style="overflow: auto;max-height: calc(100vh - 215px);">
                    <iframe class="w-100" style="height: calc(100vh - 220px);"
                        src="./docs/quiz/Manejo de sustancias quimicas en el hogar-1-9.PDF" frameborder="0"></iframe>
                </div>
                <input ng-click="quiz()" class="border-none border-radius-none btn blue right white-text" type="button"
                    value="Responder preguntas" style="transition: all 0s;">
            </div>
            <div ng-if="modal.vista == 2" class="col s12 m-b">
                <div class="row margin">
                    <form ng-repeat="pregunta in modal.preguntas" class="col w-100 m-b" action="#">
                        <p>{{pregunta.PREGUNTA}}</p>
                        <div ng-repeat="opcion in pregunta.OPCION">
                            <input ng-model="pregunta[$parent.$index]"
                                ng-change="responder(pregunta.FK_CAPACITACION,pregunta.COD_PREGUNTA,pregunta[$parent.$index])"
                                id="pregunta_{{$parent.$index}}_{{$index}}" name="groupRadio_{{$parent.$index}}"
                                type="radio" value="{{opcion.COD_OPCION}}">
                            <label for="pregunta_{{$parent.$index}}_{{$index}}"
                                style="height: 25px!important;">{{opcion.OPCION}}</label>
                        </div>
                    </form>
                </div>
                <input ng-click="atras()" class="btn white-text btn-footer grey" type="button" value="Atras"
                    style="transition: all 0s;">
                <input ng-click="enviar()" class="btn white-text right btn-footer green" type="button"
                    value="Enviar Respuesta" style="transition: all 0s;">
            </div>
        </div>
    </div> -->
    <script type="text/javascript" src="https://genesis.cajacopieps.com//js/materialize.js"></script>
</div>