<div style="margin: 0 auto; padding-top: 10%;" id="modalcambioclave">
  <style>
    #profile_dropdown {
      margin: auto;
      width: 25vw !important;
    }

    #profile_dropdown .content-data {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    #profile_dropdown .content-data>i {
      cursor: pointer;
      height: auto;
      line-height: normal;
      position: absolute;
      font-size: 20px;
      user-select: none;
      /* left: calc(100% - 27px); */
      top: 10px;
    }

    #profile_dropdown #edit_profile_dropdown>input {
      width: 100%;
      margin-bottom: 14px !important;
    }
  </style>
  <div class="card center" id="profile_dropdown">
    <div class="card-content">
      <h5>Cambio de Contraseña</h5>
    </div>
    <div style="width: 80%; margin: 0 auto;">
      <form id="edit_profile_dropdown">
        <div class="content-data" ng-class="{'active':alerts.n2}" data-tip="{{alerts.mensaje}}">
          <input class="margin" type="{{inputType.new}}" ng-model="configureProfile.passwordNew"
            ng-focus="alerts.n2=true;alerts.n1=false;alerts.n3=false;alerts.mensaje = 'La nueva contraseña debe tener como mínimo 6 caracteres e incluir por lo menos 1 letra en mayúscula, 1 número y 1 carácter especial (~!$%^&*_=+.@/-)';"
            ng-blur="alerts.n2=false" placeholder="Nueva contraseña">
          <i class="icon-eye-6" ng-class="{'icon-eye-off-1':inputType.new == 'text'}"
            ng-click="inputType.new = (inputType.new == 'password'?'text':'password')"></i>
        </div>
        <div class="content-data" ng-class="{'active':alerts.n3}" data-tip="{{alerts.mensaje}}">
          <input class="margin" type="{{inputType.verify}}" ng-model="configureProfile.passwordVerify"
            ng-focus="alerts.n1=false;alerts.n2=false;alerts.n3=false;" placeholder="Confirma la nueva contraseña">
          <i class="icon-eye-6" ng-class="{'icon-eye-off-1':inputType.verify == 'text'}"
            ng-click="inputType.verify = (inputType.verify == 'password'?'text':'password')"></i>
        </div>

        <div class="col l4 m12 s12 center">
          <button class="btn" type="submit" ng-click="saveChanges()" style="margin-top: 10px;"><i
              class="icon-key-4"></i> Cambiar Contraseña</button>
        </div>
      </form>
    </div>
  </div>
</div>
